<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, Warning, ActivityTracing" propagateActivity="True" >
        <listeners>
          <add name="clientLog"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="clientLog"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="clientLog"
           type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="clientLog.svclog" />
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging
           logEntireMessage="True"
           logMalformedMessages="True"
           logMessagesAtServiceLevel="True"
           logMessagesAtTransportLevel="True"
           maxMessagesToLog="3000" />
    </diagnostics>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IHelloWorld" transactionFlow="true">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/evancho/service/HelloWorld"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IHelloWorld"
          contract="IHelloWorld" name="HelloWorld" />
    </client>
  </system.serviceModel>

</configuration>